@model IEnumerable<TopMenuModel>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("NextCMS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav blog-nav">
                @foreach (var menu in Model)
                {
                    <li><a href="@Url.Action("List", "Article", new { id = menu.Id })">@menu.Name</a></li>
                }
            </ul>
        </div>
    </div>
</div>