<div class="row" id="navigation">
    <div class="col-md-12">
        <h3 class="page-title">
            <span>首页</span> <small>数据统计</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index", "Home")">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            @*<li>
                <i class="fa"></i>
                <span class="title">菜单组</span>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <i class="fa"></i>
                <a href="javascript:void(0)" class="title">菜单</a>
            </li>*@
            @*<li>
                <i class="fa fa-home"></i>
                <a href="@Url.Action("Index", "Home")">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                    <a href="#">Dashboard</a>
                </li>
            <li class="pull-right">
                <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="fa fa-calendar"></i>
                        <span>
                        </span>
                        <i class="fa fa-angle-down"></i>
                    </div>
            </li>*@
        </ul>
    </div>
</div>